ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0;
}

h4 {
  text-align: center;
}

body {
  font-family: "nanumsquare";
}

.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.boardList {
  font-weight: 600;
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 2px;
}

.modal {
  text-align: center;
  background: skyblue;
  width: 30%;
  margin: 40px auto;
  padding: 20px;
}

.btns {
  margin: 10px;
  text-align: center;
}

.btns button:first-child {
  margin-right: 5px;
}

.btns button {
  width: 100px;
  padding: 5px;
}

.publish {
  display: block;
  margin: 5px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.publish input {
  width: 30%;
  height: 50px;
  margin-bottom: 10px;
}

.publish button {
  width: 100px;
  padding: 5px;
}
